/*
  Author Name: Justin Ulizzi

*/


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Ethiopic:wght@300;400;700&family=Noto+Serif+Telugu:wght@300;400;700&family=Red+Hat+Mono:wght@300;400;700&display=swap');

:root {
    --main-color-light: hsl(68, 48.4%, 93.9%);
    --main-color-light-gray: hsl(0, 0%, 55%);
    --main-color-gray: hsl(0, 0%, 35%);
    --main-color-dark-gray: hsl(0, 0%, 15%);
    --main-color-dark: hsl(0, 0%, 5%);
  
    --less-bright-blue: hsl(189, 79%, 52%);
    --med-dark-blue: hsl(189, 72%, 29%);
    --med-bright-blue: hsl(189, 72%, 43%);
    --bright-blue: hsl(189, 100%, 58%);
  
    --shadow-color: hsla(189, 72%, 14%, .5);
    --accent-color-purple: hsl(292, 52%, 22%);
    --code-color: hsl(68, 88.2%, 80%);
  
    --linear-grade-color: linear-gradient(135deg, hsla(189, 79%, 52%, 1) 3%, hsla(189, 72%, 43%, 1) 14%, hsla(189, 72%, 43%, 1) 30%, hsla(189, 72%, 50%, 1) 87%, hsla(189, 72%, 29%, 1) 100%);
    --font-body: 'Noto Sans Ethiopic', sans-serif, Arial, Helvetica;
    --font-headings: 'Noto Serif Telugu', serif, Georgia, serif;
    --font-code: 'Red Hat Mono', monospace, "Courier New", Courier;
  
  }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    /* background-color: var(--main-color-light); */
    background: var(--linear-grade-color);
    color: var(--main-color-light);
    font-family: var(--font-body);
    height: 100vh;
    display: grid;
    grid-template: "header header header"
                    "main main main";
  }

header {
    grid-area: header;
    padding-left: 2.5rem;
    padding-right: 1.5rem;
    text-align: center;
    align-self: center;
  }
  main{
    grid-area: main;
  }

h1,
h2,
h3 {
  font-family: var(--font-headings);
  margin: 1.5rem;
}

table {
    text-align: center;
    border: thin solid var(--bright-blue);
    border-collapse: collapse;
    box-shadow: 3px 3px 6px var(--shadow-color);
    margin: auto auto 5rem auto;
    font-weight: 300;
    min-width: 480px;
}
#thead th {
    background-color: var(--med-dark-blue);
    text-transform: uppercase;
    border-bottom: thick solid var(--main-color-dark);
    color: var(--main-color-light);
    padding: 1.5rem;
  }
  th{
    padding: 1rem;
  }
  td {
    padding: 1rem;
  }
  tr:nth-of-type(4n+1) {
    background-color: var(--main-color-gray);
  }
  .student-info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 1.5rem;
    color: var(--main-color-light);
  }
  
  .student-info span {
    color: var(--bright-blue);
  }